/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2020, 4:11:20 AM
    Author     : LeeBen
*/
body{
    margin: 0;
    padding: 0;
    background: #2d3436;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: cursive;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    box-shadow: 0 5px 15px -5px #000000;
}
.btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: 0.6s all ease;
}
.btn1::before{
    width: 0;
    height: 110%;
}
.btn1:hover::before{
    width: 100%;
}
.btn2::before{
    width: 100%;
    height: 0;
}
.btn2:hover::before{
    height: 110%;
}
.btn3::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
    height: 380%;
}
.btn4::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
    height: 380%;
}
.picture{
    height: 100vh;
    display: flex;
}
.galaxy{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}
.galaxy:hover{
    flex: 3;
}
.galaxy-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(70%);
    transition: .3s;
}
.galaxy:hover .galaxy-pic{
    filter: grayscale(0);
}